<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Auth0 App</a>

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link" routerLink="/home" >Home </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/precios">Precios</a>
        </li>
        <li class="nav-item" *ngIf="auth.loggedIn" routerLinkActive="active">
          <a class="nav-link" routerLink="/protegida">Protegida</a>
        </li>
      </ul>
      <span class="navbar-text">
         <button *ngIf="!auth.loggedIn"
                (click)="auth.login()"
                 class="btn btn-outline-primary"> 
           Ingresar
         </button>
         <button *ngIf="auth.loggedIn"
                  (click)="auth.logout()" 
                  class="btn btn-outline-danger"> 
          Salir
        </button>
      </span>
    </div>
  </nav>